@import url('https://fonts.googleapis.com/css2? family-Montserrat:wght@500&family-Work+Sans&display-swap');
@import url('./indexStyle.css');

.about{
    border: 3px solid whitesmoke;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 15%;
    padding: 3% 3% 3% 3%; 
    font-family: var(--font);
    line-height: 1.4;
}

.experience {
    border: 3px solid whitesmoke;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 5%;
    padding: 3% 3% 3% 3%; 
    font-family: var(--font);
    line-height: 1.4;
}