<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/indexStyle.css">
    <link rel="stylesheet" href="./../static/css/contentStyle.css">
    <title>Sahil's portfolio</title>
</head>
<body>
    <header class="nav center">
        <p class="logo">LOGO</p>
        <input type="checkbox" name="" class="checkBtn" />
        <ol class="center">
            <a href="#experienceSection"><li>Experience</li></a>
            <a href="#"><li>Education</li></a>
            <a href="#"><li>Projects</li></a>
            <a href="#aboutSection"><li>About</li></a>
            <a href="#"><li>Contact</li></a>
        </ol>
    </header>
    <section class="main">
        <div class="box">
            <h1>Sahil Naphade</h1>
            <p>B.E. Information Technology, PICT, Pune (2021)</p>
            <p>Software Engineer</p>
            <a href="#aboutSection"><button class="btn">About</button></a>
        </div>
        <img src="../static/profilePic.jpg" alt="My profile pic" style="padding: 2px;">
    </section>
    <section class="about" id="aboutSection">
        <div>
            <p>
                <h2>About:</h2><br>
                <p>A final year IT student at PICT, Pune; I aspire to be a software engineer. <br>
                I am well versed in C, C++, Java and Python. I also have experience in RDBMS like MySQL, SQL Server, NoSQL databases like Firebase, along-with Git (GitHub and BitBucket) as well, with hands-on experience in RESTful services. <br>
                Currently I am working on FUSE and OpenSSL library on the Linux platform to create a Cryptographic filesystem in Linux.<br></p>
            </p>
        </div>
    </section>
    <section class="experience" id="experienceSection">
        <h2 style="margin-bottom: 3%;">Experience:</h2>
        
        {% for exp in experience %}
        <div style="border-bottom: 1px dotted whitesmoke; margin-bottom: 15px;">
            <h3>{{ exp.title }}</h3>
            <h4>{{ exp.company }}</h4><em><h5>{{ exp.startDate }} - {{exp.endDate}}</h5></em><br>
            <p>{{ exp.description|linebreaks }}</p><br>
        </div>
        {% endfor %}
    </section>
    <section class="education" id="educationSection">

    </section>
</body>
</html>