<!DOCTYPE html>
<html class="no-js ss-preload" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Sahil's portfolio</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

</head>

<body id="top">


    <!-- # preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>


    <!-- # page wrap
    ================================================== -->
    <div class="s-pagewrap">

        <div class="circles">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>


        <!-- ## site header 
        ================================================== -->
        <header class="s-header">

            <div class="header-mobile" id="top">
                <p class="mobile-home-link">Sahil N.</p>
                <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
            </div>

            <div class="row wide main-nav-wrap">
                <nav class="column lg-12 main-nav">
                    <ul>
                        <li><a href="#" class="home-link">Sahil N.</a></li>
                        <li class="current"><a href="#intro" class="smoothscroll">Intro</a></li>
                        <li><a href="#about" class="smoothscroll">About</a></li>
                        <li><a href="#experience" class="smoothscroll">Experience</a></li>
                        <li><a href="#works" class="smoothscroll">Projects</a></li>
                        <li><a href="#contact" class="smoothscroll">Say Hello</a></li>
                    </ul>
                </nav>
            </div>

        </header> <!-- end s-header -->


        <!-- ## main content
        ==================================================- -->
        <main class="s-content">


            <!-- ### intro
            ================================================== -->
            <section id="intro" class="s-intro target-section">

                <div class="row intro-content wide">

                    <div class="column">
                        <div class="text-pretitle with-line">
                            Hello World
                        </div>

                        <h1 class="text-huge-title">
                            I am Sahil Naphade, <br>
                            a Software Engineer <br>
                            & tech enthusiast <br> 
                            based in Pune.<br>   
                        </h1>
                    </div>

                    <ul class="intro-social">
                        <li><a href="https://instagram.com/itsnasa29" target="_blank">Instagram</a></li>
                        <li><a href="mailto:naphadesahil@gmail.com" target="_blank">Gmail</a></li>
                        <li><a href="https://www.linkedin.com/in/sahilnaphade/" target="_blank">LinkedIn</a></li>
                        <li><a href="https://github.com/ItsNaSa" target="_blank">GitHub</a></li>
                    </ul>

                </div> <!-- end intro content -->

                <a href="#about" class="intro-scrolldown smoothscroll">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z"/></svg>
                </a>

            </section> <!-- end s-intro -->


            <!-- ### about
            ================================================== -->
            <section id="about" class="s-about target-section">


                <div class="row about-info wide" data-animate-block>

                    <div class="column lg-6 md-12 about-info__pic-block">
                        <img src="{% static 'images/profilePic.jpg' %}" alt="" class="about-info__pic" data-animate-el>
                    </div>

                    <div class="column lg-6 md-12">
                        <div class="about-info__text" >

                            <h2 class="text-pretitle with-line" data-animate-el>
                                About
                            </h2>
                            <p class="attention-getter" data-animate-el>
                                I am Sahil Naphade, a final year student in B.E. Information Technology, at PICT, Pune; graduating in 2021.<br>
                                I have worked in several programming languages, like C, C++, Java and Python; with experience in RDBMS like MySQL and SQL Server and <br> NoSQL databases like MongoDB and Firestore. <br>
                                Recently, me and my team explored cryptography and filesystems in userspace in Linux;<br> and developed a project around the same. <br>
                                Lately, I have developed a keen interest in dockers, kubernetes and cloud computing and currently exploring the same. <br>
                            </p>
                            <a href="https://drive.google.com/file/d/1W08Y2juWdOGnnS711y1rrIZy-2YoDAJ9/view?usp=sharing" class="btn btn--medium u-fullwidth" target="_blank" data-animate-el>Download CV</a>

                        </div>
                    </div>
                </div> <!-- about-info -->
            
                <div class="row about-expertise" data-animate-block>
                    <div class="column lg-12">

                        <h2 class="text-pretitle" data-animate-el>Interests</h2>

                        <ul class="skills-list h1" data-animate-el>
                            <li>Software Development</li>
                            <li>Cryptography</li>
                            <li>Kubernetes and containers</li>
                            <li>Operating Systems</li>
                            <li>Databases</li>
                        </ul>

                    </div>
                </div> <!-- end about-expertise -->
            </section>
            <section id="experience" class="s-about target-section">
                <div class="row about-timelines" data-animate-block>

                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Experience
                        </h2>

                        <div class="timeline" data-animate-el>
                            {% for exp in experience %}

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">{{ exp.company }}</h3>
                                    <h5 class="timeline__meta">{{ exp.title }}</h5>
                                    <p class="timeline__timeframe">{{ exp.startDate }} - {{exp.endDate}}</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>{{ exp.description|linebreaks }}</p>
                                </div>
                            </div>
                            {% endfor %}
    
                        </div> <!-- end timeline -->

                    </div> <!-- end column -->

                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Education
                        </h2>

                        <div class="timeline" data-animate-el>
                            {% for edu in education %}
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">{{ edu.university }}</h3>
                                    <h5 class="timeline__meta">{{ edu.degree }} in {{ edu.specialization }} <br> Grade: {{ edu.grade }}</h5>
                                    <p class="timeline__timeframe">{{ edu.passingYear }}</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>{{ edu.additional_desc|linebreaks }}</p>
                                </div>
                            </div>
                            {% endfor %}
                              
                        </div> <!-- end timeline -->
                        
                    </div> <!-- end column -->


                </div> <!-- end about-timelines for experience and education -->
                <!-- Publications here -->
                <div class="row about-timelines" data-animate-block>
                    <div class="column lg-6 tab-12">
                        <h2 class="text-pretitle" data-animate-el>
                            Publications
                        </h2>
                        <div class="timeline" data-animate-el>
                            {% for pubs in publication %}

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">{{ pubs.title }}</h3>
                                    <h5 class="timeline__meta">{{ pubs.journalName }}</h5>
                                    <p class="timeline__timeframe">{{ pubs.dateOfPub }}</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>
                                        DOI: <a href="{{ pubs.DOI }}">{{ pubs.DOI }}</a><br>
                                        e-ISSN: {{ pubs.ISSN }} <br>
                                        You can check it out <a href="{{ pubs.link }}" target="_blank">here.</a> <br>
                                        Indexing: {{ pubs.indexing }} <br>
                                        Pages: {{ pubs.beginPage }} - {{ pubs.endPage }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
    
                        </div> <!-- end timeline -->
                    </div>
                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Extra-curriculars
                        </h2>

                        <div class="timeline" data-animate-el>
                            {% for ec in extracurriculars %}
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">{{ ec.org }}</h3>
                                    <h5 class="timeline__meta">{{ ec.title }}<br></h5>
                                    <p class="timeline__timeframe">{{ ec.startDate }} - {% if ec.endDate is None %}
                                        Present
                                        {% else %}
                                        {{ec.endDate}}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="timeline__desc">
                                    <p>{{ ec.description|linebreaks }}</p>
                                </div>
                            </div>
                            {% endfor %}
                              
                        </div> <!-- end timeline -->
                </div>
            </section> <!-- end s-about -->


            <!-- ### works
            ================================================== -->
            <section id="works" class="s-works target-section"> 


                <div class="row works-portfolio">

                    <div class="column lg-12" data-animate-block>

                        <h2 class="text-pretitle" data-animate-el>
                            Projects
                        </h2>
                        <p class="h1" data-animate-el>
                            Here are some of my favorite projects. Feel free to check them out.
                        </p>
    
                        <ul class="folio-list row block-lg-one-half block-stack-on-1000">

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-01">
                                    <div class="folio-list__item-pic">
                                        <img src="{% static 'images/portfolio/armorfsMain.png' %}" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Cryptograpy and Filesystems
                                        </div>
                                        <div class="folio-list__item-title">
                                           ArmorFS.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-02">
                                    <div class="folio-list__item-pic">
                                        <img src="{% static 'images/portfolio/diabetes.jpg' %}" alt="Diabetes Predictor">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Website and Machine Learning
                                        </div>
                                        <div class="folio-list__item-title">
                                            Diabetes Predictor.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-03">
                                    <div class="folio-list__item-pic">
                                        <img src="{% static 'images/portfolio/CHMS1.png' %}" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Website and Databases
                                        </div>
                                        <div class="folio-list__item-title">
                                            CHMS.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-04">
                                    <div class="folio-list__item-pic">
                                        <img src="{% static 'images/portfolio/Amazon-watches.jpg' %}" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Data analysis and predictions
                                        </div>
                                        <div class="folio-list__item-title">
                                            Amazon sales dataset analysis.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->
                        </ul> <!-- end folio-list -->

                    </div> <!-- end column -->


                    <!-- Modal Templates Popup
                    -------------------------------------------- -->
                    <div id="modal-01" hidden>
                        <div class="modal-popup">
                            <img src="{% static 'images/portfolio/armorfs.png' %}" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>ArmorFS</h5>
                                <p>A cryptpgraphic filesystem in userspace. The filesystem encrypts and decrypts the user's data as per requirements. Userspace ensures that it is usable by each user (even non-root) and linked to each individual.<br>
                                    Created for the final year project, with sponsorship from <a href="https://www.veritas.com/" target="_blank">Veritas Technologies LLC</a>.
                                </p>
                                <ul class="modal-popup__cat">
                                    <li>Cryptography</li>
                                    <li>Filesystem</li>
                                    <li>Userspace</li>
                                </ul>
                            </div>
                
                            <!-- <a href="" class="modal-popup__details" target="_blank">Project link</a> -->
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-02" hidden>
                        <div class="modal-popup">
                            <img src="{% static 'images/portfolio/diabetes.jpg' %}" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Diabetes Predictor</h5>
                                <p>A website utilizing machine learning algorithm to predict the diabetes condition of an individual based on different parameters. <br>Used the Pima Indian's <a href="https://www.kaggle.com/uciml/pima-indians-diabetes-database">dataset</a> 
                                    for the ML algorithm and Flask framework to create the website.</p>
                                <ul class="modal-popup__cat">
                                    <li>Machine learning</li>
                                    <li>Flask</li>
                                    <li>Website</li>
                                </ul>
                            </div>
                
                            <a href="https://github.com/ItsNaSa/Diabetes-Predictor" class="modal-popup__details" target="_blank">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-03" hidden>
                        <div class="modal-popup">
                            <img src="{% static 'images/portfolio/CHMS.png' %}" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>CHMS</h5>
                                <p>A web-based application in Java to create a centralized healthcare system which will be accessible from anywhere. <br>
                                    The application recognizes individual doctors and patients to make the addition of new prescriptions and diagnoses seamless. <br>
                                    Dedicated admin panels allow the central body to add and ban doctors.
                                </p>
                                <ul class="modal-popup__cat">
                                    <li>Website</li>
                                    <li>Java</li>
                                    <li>MySQL</li>
                                    <li>Servlets</li>
                                </ul>
                            </div>
                
                            <a href="https://github.com/ItsNaSa/chms" class="modal-popup__details" target="_blank">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-04" hidden>
                        <div class="modal-popup">
                            <img src="{% static 'images/portfolio/Amazon-watches.jpg' %}" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Amazon sales dataset analysis</h5>
                                <p>
                                    A mini project to understand the data analysis lifecycle, like collection, cleaning, analysis, visualization and interpretation. <br>
                                    Amazon Watches dataset available <a href="https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Watches_v1_00.tsv.gz">here</a>  was used to complete the said objectives.
                                </p>
                                <ul class="modal-popup__cat">
                                    <li>Data analysis</li>
                                    <li>Market Basket analysis</li>
                                </ul>
                            </div>
                
                            <a href="https://github.com/ItsNaSa/DataScienceMiniProject" class="modal-popup__details" target="_blank">Project link</a>
                        </div>
                    </div> <!-- end modal -->
                </div> <!-- end works-portfolio -->
            </section> <!-- end s-works -->


            <!-- ### contact
            ================================================== -->
            <section id="contact" class="s-contact target-section">

                <div class="row contact-top">
                    <div class="column lg-12">
                        <h2 class="text-pretitle">
                            Get In Touch
                        </h2>

                        <p class="h1">
                            I would love to hear from you.
                            If you want to chat about anything — just shoot me a message.
                        </p>
                        <p class="h5">P.S. I also love to talk about new technologies and gadgets.</p>
                    </div> 
                </div> <!-- end contact-top -->

                <div class="row contact-bottom">
                    <div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
                        <h3 class="text-pretitle">Reach me at</h3>
                        <p class="contact-links">
                            <a href="mailto:naphadesahil@gmail.com" class="mailtoui">naphadesahil@gmail.com</a> <br>
                        </p>
                    </div>
                    <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
                        <h3 class="text-pretitle">Social</h3>
                        <ul class="contact-social">
                            <li><a href="https://www.linkedin.com/in/sahilnaphade/" target="_blank">LinkedIn</a></li>
                            <li><a href="https://github.com/ItsNaSa" target="_blank">GitHub</a></li>
                            <li><a href="https://instagram.com/itsnasa29">Instagram</a></li>
                        </ul>
                    </div>
                    <div class="column lg-4 md-12 contact-block">
                        <a href="mailto:naphadesahil@gmail.com" class="mailtoui btn btn--medium u-fullwidth contact-btn">Say Hello.</a>
                    </div>
                </div> <!-- end contact-bottom -->

            </section> <!-- end contact -->

        </main> <!-- end s-content -->


        <!-- ## footer
        ================================================== -->
        <footer class="s-footer">

            <div class="row">
                <div class="column ss-copyright">
                    <span>© Copyright Luther 2021</span> 
                    <span>Thanks to design by <a href="https://www.styleshout.com/">StyleShout</a></span>
                </div>
                <div class="row">
                    <div class="column ss-copyright">
                        <span>The backend for this website is developed by myself using Django.</span>
                    </div>
                    
                </div>
                <div class="ss-go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z"/></svg>
                    </a>
                </div>
            </div>

        </footer> <!-- end s-footer -->

    </div> <!-- end -s-pagewrap -->


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>